 U180438_BEI 做稿<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse" style="background:#2b2e33;">
                <ul class="nav" id="main-menu">

                    <li>
                        <a  href="" class="active-menu"><i class="fa fa-home"></i>HOME</a>
                    </li>

                    <li>
                        <a class="first_nav" href=""><i class="fa fa-rocket"></i> USA<span class="fa fa-chevron-right sign"></span></a>
                        <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>

                    <li>
                        <a  class="first_nav" href=""><i class="fa fa-cube"></i> CAN<span class="fa fa-chevron-right sign"></span></a>
                         <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>

                    <li>
                        <a  class="first_nav" href=""><i class="fa fa-flask"></i> non-wmt<span class="fa fa-chevron-right sign"></span></a>
                         <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>
                     <li>
                        <a class="first_nav"  href=""><i class="fa fa-print"></i> print<span class="fa fa-chevron-right sign"></span></a>
                        <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>
                     <li>
                        <a class="first_nav" href=""><i class="fa fa-refresh fa-spin"></i> check<span class="fa fa-chevron-right sign"></span></a>
                        <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>
                     <li>
                        <a class="first_nav"  href=""><i class="fa fa-envelope"></i> e-mail<span class="fa fa-chevron-right sign"></span></a>
                        <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="first_nav" href=""><i class="fa fa-bell"></i>skype notes<span class="fa fa-chevron-right sign"></span></a>
                        <ul class="sub_nav">
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                            <li><a href="">初稿</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>